[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = git@gitlab.mpcdf.mpg.de:nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-UIBK-plugin"]
	path = packages/nomad-UIBK-plugin
	url = git@github.com:Thin-Layers-Technology-Innsbruck/nomad-UIBK-plugin.git
[submodule "packages/nomad-UNITOV-plugin"]
	path = packages/nomad-UNITOV-plugin
	url = https://github.com/fabianschoeppach/nomad-UNITOV-plugin.git
[submodule "packages/perovskite-solar-cell-database"]
	path = packages/perovskite-solar-cell-database
	url = https://github.com/FAIRmat-NFDI/nomad-perovskite-solar-cells-database
[submodule "packages/IFM-Image-Defect-Detection"]
	path = packages/IFM-Image-Defect-Detection
	url = https://github.com/csav1974/IFM-Image-Defect-Detection-and-Classification
